[Desktop Entry]
Icon=text-html
Name=Modrinth download for Automodpack
Type=Link
URL[$e]=https://cdn.modrinth.com/data/k68glP2e/versions/ET2mE920/automodpack-mc1.21.1-neoforge-4.0.5.jar
